@using ViewExample.Models


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["appTitle"]</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Welcome</h1>
        @{
            List<Person>? people = (List<Person>?)ViewData["people"];
            @foreach(Person person in people){
              
                <div >
                <table class="emp-table">
                    <tbody class="emp-card emp-card:hover">
                        <tr>
                            <td class="emp-table td ">@person.name</td>
                            <td>@person.age</td>
                        </tr>
                    </tbody>
                </table>
                
                
                </div>
            }

        }

	
    </body>
</html>